/* style.css */
body {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.navbar  {
  background-color: #C6C0EE;
  color: white;
  padding: 10px;
  /*width: 100%;
  */text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.navButtons{
  margin-left: 40px;
}
.footer{
background-color: #C6C0EE;
  color: white;
  padding: 10px;
  /*width: 100%;
  */text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.footerElements{
  margin-left: 30px;
  color: black;
  background-color: #C6C0EE;
  border: none;
}

.footerElements:hover{
  cursor: pointer;
  margin-left: 30px;
  color: black;
}
.content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  
}

.content div {
  /* border: 1px solid #333; */
  padding: 10px;
  text-align: center;
  height: 400px;
  
}

.content-button {
  /* margin-top: 10px; */
  margin-left: 20px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

.defaultContentDiv{
  /* height: 1800px; */
}


.material-symbols-outlined {
  color: black;
  font-size: 60px;
  /* font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 100 */
}
