

.classes {
  /* display: inline-block;
  align-items: center;
  justify-content: center; */
 
}

.clasTitle {
   display: flex;
 align-items: center;
  justify-content: center;
}

.classBody {

  display: flex;
  align-items: center;
  justify-content: center;
}
.classBodyDiv{
  margin-left: 20px;
 padding: 15px;
 border: 1px solid;
 border-radius: 10px;
 width: 350px;
 height: 250px;
 margin-bottom: 90px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}

.classButton  {

 display: flex;
  align-items: center;
  justify-content: space-around;
}
.classButton button {
 border: none;
 color: blue;
 background-color: white;
}

.CartButtonsDiv {
  display: flex;
  align-items: center;
  justify-content: end;
  
}
.ClassesCartButtons {
background-color: white ;
border: none;
}
.ClassesCartButtons:hover {
cursor: pointer;
}


.Button {
  color: blue;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.classesTable {
 margin-left: 70px;
 margin-right: 70px;
  
}