

.classes {
  /* display: inline-block;
  align-items: center;
  justify-content: center; */
 
}

.clasTitle {
   display: flex;
 align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.classBody {

  display: flex;
  align-items: center;
  justify-content: center;
}
.classBodyDiv{
  margin-left: 20px;
 padding: 15px;
 /* border: 1px solid; */
 border-radius: 10px;
 width: 350px;
 height: 460px;
 margin-bottom: 90px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
 background-color: #C6C0EE;
 box-shadow: 10px 10px 5px lightblue ;
}

/* .classButton  {

 display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
} */
.classButtonDiv button {
 border: none;
 color: blue;
 background-color: #C6C0EE;
 margin-bottom: 30px;
}

.CartButtonsDiv {
  display: flex;
  align-items: center;
  justify-content: end;
  
}
.ClassesCartButtons {
background-color:#C6C0EE ;
border: none;
color: blue;
}
.ClassesCartButtons:hover {
cursor: pointer;
}

.classButon:hover{
  cursor: pointer;
  background-color: aqua;
  border-radius: 10px;
}
.classesTable {
 margin-left: 70px;
 margin-right: 70px;
  
}

.material-symbols-outlined {
  color: blue;
}

.calssesImgDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.classImg{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}