.homePage{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homePage div {
  border-radius: 15px;
  width: 250px;
  height: 200px;
  border: 1px solid;
  margin-left: 60px;
  margin-bottom: 150px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 70px;
}

.homePage h2 {
 
}